<div class='embed-container' style="width:100%;position:relative;overflow:hidden;padding-top:56.25%">
 _ <iframe src='https://invidious.40two.app/embed/{{ index .Params 0 }}'
	 frameborder='0' allowfullscreen style="position:absolute;top:0;left:0;bottom:0;right:0;width:100%;height:100%;" />
  _</iframe>
</div>
